#footer {
    padding-bottom: 55px;

    .footer_content {
        max-width: 865px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }

    .footer_text {
        color: #FF4800;
        font-size: 9px;
        font-style: normal;
        font-weight: 500;
        line-height: 140%;
        letter-spacing: -0.225px;
        opacity: 0.3;
    }
}